.registerMainContainer {
  align-items: center;
  background-color: var(--main-white);
  display: flex;
  flex-flow: nowrap column;
  height: 100vh;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  width: 50vw;
}

.registerHeader {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

.registerMainTitle {
  font-family: 'Roboto Slab';
  font-size: 4.8rem;
}

.registerSubTitle {
  font-size: 1.2rem;
  color: var(--main-black);
}

.registerSubTitle strong {
  color: var(--main-green);
}

.registerInputs {
  display: flex;
  flex-flow: nowrap column;
}

.registerInputs input {
	background: #e0dede;
	border: none;
	border-radius: 10px;
  color: var(--main-black);
	height: 3rem;
	margin: 12px auto;
	outline: none;
	padding: 20px;
	width: 280px;
}

.registerBtn {
  background: var(--main-purple);
  border: none;
	border-radius: 8px;
	color: var(--main-white);
  cursor: pointer;
	display: block;
	font-size: 1.3em;
	font-weight: bold;
  height: 40px;
	justify-content: center;
	margin: 5px auto;
	margin-top: 15px;
	outline: none;
	transition: .2s ease-in;
  width: 200px;
}

.registerBtn:hover {
  background: #5f3aa3;
}


.registerBtn:disabled {
  background: var(--main-gray);
  cursor: default;
}

.registerErrorMsg {
  color: var(--main-red);
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

.registerPassReqs p, li {
  font-family: 'Roboto Slab';
  font-size: 1rem;
}
